<!--
 * @Description: file content
 * @Author: JasonYang
 * @Date: 2019-08-27 11:14:54
 * @LastEditTime: 2019-09-06 14:15:33
 -->
<!DOCTYPE html
    PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <style type='text/css' mce_bogus='1'>
        @page {
            size: 100mm 150mm;
            margin: 0;
            padding: 0;
        }

        body {
            position: relative;
            width: 378px;
            height: 567px;
            font-family: Microsoft YaHei, sans-serif;
            margin: 0;
            padding: 0;
            color: #000;
        }
        div, span, p {
            margin: 0;
            padding: 0;
            vertical-align: top;
        }
    </style>
</head>

<body>
    

    <script type="text/javascript">
        // var svlc = {%jsondata%};

        

    </script>

</body>

</html>