<!--
 * <div id="gmCer" style="display:none;">{%gmCer%}</div>
 * @Description: file content
 * @Author: JasonYang
 * @Date: 2019-08-27 11:14:36
 * @LastEditTime : 2020-01-06 09:51:39
 -->
<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>modle</title>
    <script>
        //必要申明
        var model = {
                 'nameBy': 'invoice',
                 'modelName': 'invoice',
                 'id': '36',
                 'address': '',
                 'contact': '',
                 'USCC': '1000000000000000X0',
                 'logobase64S': ''
             };
             
             //json数据
             let svlc = {%jsondata%};

    </script>
</head>

<body>

<div class="ch-layout" id="capture">
    <div class="ch-forms">
    </div>
</div>

</body>

</html>
